[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "savvyGLM"]
	path = savvyGLM
	url = https://github.com/ziwei-chenchen/savvyglm
[submodule "savvyPR"]
	path = savvyPR
	url = https://github.com/ziwei-chenchen/savvypr
[submodule "savvySh"]
	path = savvySh
	url = https://github.com/ziwei-chenchen/savvysh
